  {{#items}}
  <div class = "itemsList">
    <span><a href="/itemForm?id={{_id}}">{{category}}</a></span>
    <span>Size: {{size}}</span>
    <span>Count: {{count}}</span>
    <span>Price: ${{price}}</span>
    <span>Customizable: {{custom}}</span>
    <span>Materials: {{materials}}</span>
    <span>Description: {{description.color}} {{description.image}} {{description.shape}}</span>
    <span><a href="/deleteItem/?id={{_id}}">Delete</a></span>
  </div>
  {{/items}}
